html, body, #root, main {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  align-items: center;
  background: linear-gradient(90deg, #00F8DA 0.09%, #A700F5 99.92%);
  color: #303030;
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  margin: 0;
  min-height: 100vh;
  width: 100%;
}

h1 {
  color: #ffffff;
  font-size: 5rem;
  font-weight: 100;
  margin: 50px 0 0;
}
